# to ignore
data/*
plink/*
admixture/*
R/*
*.html
*.Rmd
*.DS_Store

# exceptions
!/plink/
!/data/
!/admixture/
!R/*.r
!R/*.Rmd
!R/*.html
!/data/HGDP_plus.bed
!/data/HGDP_plus.bim
!/data/HGDP_plus.fam
!/data/TGP.bed
!/data/TGP.bim
!/data/TGP.fam
